._ {
  p {
    margin-left: 10px;
    margin-right: 10px;

    & > img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }

  p:not(:global .no-indent) {
    text-indent: 15px;
  }

  p,
  ol {
    line-height: 180%;
  }
}
